/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juin 2019, 09:11:30
    Author     : zplouzin
*/

html{
    background-color: rgb(248,248,248);
    font-family: 'Calibri Light';
    margin: 0;
    padding: 0;
}

head{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    background: white;
}


#connection {
    // css de la page de connexion
    background-color: white;
    border-radius: 10px 10px 10px 10px ;
    background: white;
    min-width: 400px;
    width: 30%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Calibri Light';
    padding: 15px;
}

#connection h1 {
    margin: 0;
    padding: 5px 5px 5px 10px;
    font-family: 'Calibri Light';
}

#connection p {
    background-color: white;
    background: white;
    font-family: 'Calibri Light';
}
#connection form {
    width: 60%;
    margin: 0 auto 0 auto;  
}
#connection form table {
    width: 100%;
}
#connection input[type=submit] {
    margin: 10px auto 0 auto;
    width: 150px;
    height: 40px;
    border: 0;
    background-color: #4B8BBF;
    font-size: 17px;
    color: white;
}

#connection input[type=submit]:hover {
    cursor: pointer;
    border-bottom: 3px solid #4B8BBF;
    color: #4B8BBF;
    background-color: white;
    transition: 0.1s;
    background-color: white;

}

#explicationGame {
    width: 100%;
    min-height: 300px;
    height: 220px;
    background: rgb(248,248,248);
    background-color: rgb(248,248,248);
    border-bottom: 3px solid lightgrey;
    margin: 0;
    
}

#explicationGame h1 {
    width: 70%;
    margin: 0 auto 0 auto;
    text-align: center;
}

#generalGame {
    height: calc(100%-220px);
    position: relative;
    background: white;
    background-color: white;
}

#generalGame form {
    width: 300px;
    margin: 10px auto 0 auto;
}

.formDeconnexion {
    position: absolute;
    right: 0;
    top: 0;
}

h3 {
    font-weight: normal;
    width: 85%;
    margin: 0 auto 0 auto;
    text-align: center;
}

p{
    font-family: American Typewriter;
    font-size: 20px;
    background-color: white;
}

h1{
    font-family: American Typewriter;
    font-size: 30px;
    text-align: left;
}

form{
    text-align: center;
}

form, table{
    text-align: center;
}

tr{
    text-align: center;
}

td{
    text-align: center;
}

input[type=submit]{
    width:110px;
    cursor:pointer;
    text-transform:capitalize;
}

.de{
    font-size:50px;
}

#tableGameResult{
    background-color: white;
    border-radius: 25px;
    min-width: 300px;
    width: 70%;
    margin : 0 auto 0 auto;     
    height: 100%;
}

.countLances{
    line-height: 50px;
    text-align: center;
}

.messErreurChoice{
    
}